* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
a:visited {
    color: inherit;
}
input:focus {
    outline: none;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#75848b , #595979 );
    font-family: Verdana, sans-serif;
}
.body-light-theme {
    background: linear-gradient(#89a1ad , #bebed3 );
}
.calc {
    display: flex;
    flex-direction: column;
    background-color: rgb(48, 48, 48);
    border: 1px solid black;
    max-width: 500px;
    min-width: 300px;
    color: white;
    padding: 10px 20px 50px 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
    -23px 0 20px -18px rgba(0, 0, 0, .8),
    23px 0 20px -18px rgba(0, 0, 0, .8),
    0 0 30px rgba(0, 0, 0, .5) inset;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}
.calc-light-theme {
    background-color: rgb(223, 223, 223);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
    -23px 0 20px -18px rgba(0, 0, 0, .8),
    23px 0 20px -18px rgba(0, 0, 0, .8),
    0 0 30px rgba(204, 204, 204, 0.5) inset;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 1px solid rgb(206, 202, 202);
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(to bottom right, rgb(107, 107, 107) 5%,rgb(70, 70, 70));
    box-shadow: 0px 2px 2px 3px rgb(44, 44, 44);
    transition: border-radius 0.1s ease, transform 0.2s ease;
}
.button:hover {
    background-image: linear-gradient(to bottom right, rgb(88, 88, 88) 1%,rgb(141, 141, 141));
}
.button-light-theme {
    color: rgb(31, 31, 31);
    background-image: linear-gradient(to bottom right, rgb(206, 206, 206) 5%,rgb(221, 221, 221));
    box-shadow: 0px 2px 2px 2px rgb(44, 44, 44);
}
.button-light-theme:hover {
    background-image: linear-gradient(to bottom right, rgb(189, 189, 189) 1%,rgb(172, 172, 172));
}
.button-radius {
    border-radius: 15%;
}

.button:active {
    background-image: linear-gradient(to bottom right, rgb(151, 151, 151) 1%,rgb(243, 241, 241));
    transform: scale(0.97);
}
.clear-button {
    grid-column: 3 / 5;
}
.output {
    max-width: 300px;
    border: 1px solid rgb(206, 202, 202);
    color: white;
    height: 50px;
    text-align: right;
    padding: 10px 10px;
    font-size: 30px;
    background-color: rgb(100, 100, 100);
    margin-bottom: 20px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
    box-shadow: inset 0px 0px 6px 5px rgb(36, 36, 36), 0px 2px 3px 1px rgb(34, 34, 34);
}
.output-txt {
    text-align: left;
}
.output-light {
    background-color: rgb(26, 63, 37);
}
.output-light-theme {
    background-color: rgb(75, 75, 75);
    border: 1px solid black;
    box-shadow: inset 0px 0px 5px 2px rgb(37, 37, 37), 0px 2px 5px 1px rgb(105, 105, 105);
}
.calc-name {
    align-self: flex-end;
    margin-bottom: 15px;
    font-size: 11px;
    font-weight: bold;
    opacity: 0.8;
    font-family:monospace;
    transition: opacity 0.5s ease;
}
.calc-name:hover {
    opacity: 1;
}
a.calc-name-light-theme {
    color: black;
}
.calc-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.style-button {
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-bottom: 5px;
}
.style-button:hover {
    background-color: rgb(59, 59, 59);
}

input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]:checked + label::before {
    transform: translateX(21.5px);
    background-color: rgb(19, 19, 19);
}
input[type="checkbox"]:checked + label {
    background-color: rgb(158, 158, 158);
}
.theme-button {
    border: 1px solid white;
    border-radius: 20px;
    width: 35px;
    height: 15px;
    background-color: rgb(0, 0, 0);
    position: relative;
    transition: all 0.3s ease;
}
.theme-button::before {
    content: '';
    display: inline-block;
    border: 1px solid #797979;
    border-radius: 20px;
    width: 14px;
    height: 15px;
    background-color: #5a5a5a;
    position: absolute;
    top: -1px;
    left: -1.5px;
    transition: all 0.3s ease;
}